@import 'src/Sass/BaseElements.scss';

.Tag{
    background-color: $Pink;
    color: $White;
    padding: 1% 2%;
    @include collapseBorderRadius;
    text-align: center;
    width: 155px;
    font-size: 15px;
}

@media (max-width: 750px) {
.InfoLocationTags {
    .Tag {
      width: 105px;
      font-size: 10px;
    }
  }
}