@import '../../Sass/BaseElements.scss';

.Navbar{
    padding-left: 5%;
    padding-top: 2%;
    @include FlexAndSpace;
    align-items: center;
    padding-right: 5%;
    .NavbarLink{
        width: 15%;
        @include FlexAndSpace;
        .activelink, .inactiveLink{
            &:active{
                border-bottom: 2px solid $Pink;
            }
        }
    }
    .LogoPink{
        width: 120px;
    }
}

@media (max-width: 750px) {
    .Navbar {
        .NavbarLink {
          width: 50%;
        }
      }
} 