@import 'src/Sass/BaseElements.scss';

.containerCarousel{
    display: flex;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    .carousel_arrow{
        position: absolute;
        
    }
    .carousel_arrow_left{
        bottom: 50%;
    }
    .carousel_arrow_right{
        bottom: 53%;
        left: 86%;
    }
    .slideNumber{
        position: absolute;
        bottom: 99%;
        left: 45%;
    }
}
   

