@import 'src/Sass/BaseElements.scss';

.containerCarousel{
    display: flex;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    .image_container{
        height: 330px;
        width: 1240px;
    }
    .carousel_arrow{
        position: absolute; 
    }
    .carousel_arrow_left{
        bottom: 42%;
    }
    .carousel_arrow_right{
        bottom: 49%;
        left: 90%;
    }
    .slideNumber{
        position: absolute;
        bottom: 2%;
        left: 48%;
        color: $White;
        font-size: 18px;
        font-weight: 500;
    }
    .imageCarousel{
        height: 415px;
        width: fit-content;
        object-fit: cover;
        @include borderRadius;
    }
}
   

