@import 'src/Sass/BaseElements.scss';

.containerCarousel{
    display: flex;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    .image_container{
        height: 330px;
        width: 95%;
    }
    .carousel_arrow{
        position: absolute; 
    }
    .carousel_arrow_left{
        bottom: 42%;
    }
    .carousel_arrow_right{
        bottom: 49%;
        left: 90%;
    }
    .slideNumber{
        position: absolute;
        bottom: 2%;
        left: 48%;
        color: $White;
        font-size: 18px;
        font-weight: 500;
    }
    .imageCarousel{
        object-fit: cover;
        @include borderRadius;
    }
}
   

@media (max-width: 750px) {
    .containerCarousel{
       
        .imageCarousel{
            height: 205px;
            width: 95%;
            margin-right: 5%;
        }
        .carousel_arrow_left {
            width: 20px;
            height: 20px;
            bottom: 46%;
        }
        .carousel_arrow_right {
            width: 10px; 
            height: 14px; 
        }
        .slideNumber{
            font-size: 12px;
            left: 43%;
        }   
    }
}