@import 'src/Sass/BaseElements.scss';

.Footer{
    color: $White;
    background-color: $Black;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .LogoWhite{
            height: 30px;
            width: auto;
            padding-bottom: 5px;
        }
        .FooterText{
            font-size: 10px;
        }
}