@import 'src/Sass/BaseElements.scss';

.NotfoundMain{
    color: $Pink;
    text-align: center;
    padding-bottom: 5%;
    .NotfoundTitle{
        font-size: 50px;
        font-weight: 800;
        padding-top: 2%;
        padding-bottom: 3%;
    }
    .NotfoundText{
        font-size: 18px;
        padding-bottom: 4%;
    }
    .NotfoundLink{
        @include LinkStyle;
        
    }    
}