@import 'src/Sass/BaseElements.scss';

.NotfoundMain{
    color: $Pink;
    text-align: center;
    padding-bottom: 6%;
    .NotfoundTitle{
        font-size: 9.5rem;
        font-weight: bolder;
        padding-top: 3%;
        padding-bottom: 5.5%;
    }
    .NotfoundText{
        font-size: 18px;
        padding-bottom: 4%;
    }
    .NotfoundLink{
        @include LinkStyle;
        
    }    
}
@media (max-width: 750px) {
    .NotfoundTitle{
        font-size: 6.5rem;
    }
    .NotfoundText{
        padding-bottom: 0;
        margin-bottom: 22%;
    }
}